<div class="login-continer" [ngStyle]="data.STYLE_BACKGROUND">
    <div class="login-form">
        <img [src]="data.LOGO" alt="Logo" class="login-form-logo">
        <div class="login-form-content" app-login-form></div>
        <div class="login-form-footer">
            <div class="login-form-footer__links">
                <a href="#">Acerca de</a>
                <a href="#">Contactanos</a>
                <a href="#">Soporte</a>
            </div>
            <br>
        </div>
    </div>
</div>