.home-wrapper{
  margin: 0 0 0 14.2rem;
  min-width: 83.9%;
  position: fixed;
  top: 5.5rem;
  /* background: green; */
  /* background: linear-gradient(90deg, rgba(23, 23, 26, 1) 44%, rgba(24, 24, 24, 1)); */
  /* color: white; */
  min-height: 90%;
  border-radius: 10px;

}
