.clients-container{


  background-color: white;
  height: 38.5rem;
  border-radius: 10px;


}

.titulo-clients-table{

  text-align: center;

}

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 16px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


/* .fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
} */


.button-table {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-table:hover {

  cursor: pointer;

}

